/* GLOBAL STYLES */

body {
    margin: 0px;
}

    /* Header Styles */
    header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        background-color: rgba(255, 173, 187, 0.545);
        margin: 0px;
        padding: 10px;
    }   

    #nav-bar {
        display: flex;
    }

    #nav-bar > ul {
        padding: 0px;
        display: flex;
        gap: 10px;
        list-style-type: none;
        margin: auto
    }

    .nav-link {
        display: flex;
        flex-wrap: nowrap;
        text-align: center;
    }

    .nav-link a {
        border-radius: 5px;
        padding: 15px;
        width: 9em;
        text-decoration: none;
        color: rgb(165, 70, 152);
        transition: all 0.3s ease-in-out;
    }

    .nav-link a:hover {
        background-color: rgb(204, 204, 255);
    }

    .nav-link #contact-me {
        background-color: rgb(206, 168, 241);
    }

    .nav-link #contact-me:hover {
        background-color: rgb(180, 140, 216);
    }

    #home-button {
        max-width: 3rem;
        min-width: 3rem;
        height: 100%;
    }

    #home-button img {
        width: 100%;
        height: 100%;
    }

/* HOMEPAGE STYLES */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

#about-me {
    display: flex;
    flex-direction: row;
    width: 90vw;
    background-color: pink;
    padding: 1% auto;
}